
/* ------Global------ */
body {
	overflow-x: hidden;
	background-color: rgb(255, 254, 255);
}

* {
	box-sizing: border-box;
}
.container{
    padding: 100px 0px;
}
.innerPg h2 {
	text-align:center;
	color:#039be5;
}
.innerPg p{
	font-size:1.64rem;
	line-height: 1.3;
}

/* ----Home---- */
nav ul {
	margin-right: 30px;
}
nav ul a {
	font-size: 1.5rem;
   
}
nav .brand-logo {
	margin-left: 30px;
    font-size:2.5rem;
}
nav .brand-logo img{
	vertical-align: middle;
	 width: 40px;
	 margin-right: 15px;
}

#home-mains {
	text-align:left;
	display:inline-block;
}
#home-mains img {
	width: 100%;
	text-align:center;
}
.home-para {
	margin-top:0;
	line-height: 1.5;
	font-family: Open-sans, san-serif;
}
.icons{
    vertical-align: middle;
    width:50%;
	font-weight:bolder;
	overflow: hidden;
	position: relative;
	

	  
}
.icons  .icon-scroll {
	position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    width: 100%;
}
.icon-scroll img {
	height: 100%;
	object-fit: cover;
	max-width: 100%;
}
#icon-static {
	/* position: absolute; */
	margin-top: 100px;
	/* width:100%; */
}

h2, h3{
	font-family: 'Open Sans', sans-serif;
	align-content: center;
}

#logo img{
	margin: 10px auto 0 auto;
	justify-content: center;
	width: 100px;
	height:100px;
}

#container {
     margin: 0;
	padding: 20px;
}

.panel {
	padding: 40px;
	margin-top: 20px;
}


/*----About---- */

section svg {
	width:100%;

}
.brain {
	padding:50px 30px;
	
}


 /* werk werk werk */
/* Skills */
#myskills {
	margin: 10em, 2em;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.skill-item {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 2%;
}

.skill-item li {
	list-style-type: none;
	margin:  7px;
	padding: 5px 10px;
	color: white;
	background: lightblue;
	/* list-style: none;
	cursor: default; */
	font-size: 1.2em;
}

/* portfolio cards */
#projects {
	/* margin: 10em, 2em; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}


.card {
	margin: 10px;
    padding: 10px;
    width: 450px;
}

.card-img-top{
    max-width: 100%;

}

.card-footer {
	display: flex;
	justify-content: space-between;
}

/* contact */
#contact {
	justify-content: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
#contact.h2{
	text-align: center;
}

#form {
	justify-content: center;

}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .5s ease top, .5s ease opacity;
	transition: .5s ease top, .5s ease opacity;
}

.form-control {
	border-radius: 0;
	border-color: #ccc;
	border-width: 0 0 2px 0;
}

.form-control:focus {
	border-color: #5e9bfc;
}

textarea {
	resize: none;
}


/* footer */
div.footer {
	
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding: 40px;
	background-color: lightblue;
	color: black; 
	/* bottom:0;
	position:fixed; */
}

.copyright img, i {
	max-height: 20px;
	vertical-align: middle;
}

/* materialize */

html, body {
	font-family: 'Raleway', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
  }
  .mdl-demo .mdl-layout__header-row {
	padding-left: 40px;
  }
  .mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
	font-size: inherit;
  }
  .mdl-demo .mdl-layout__tab-bar-button {
	display: none;
  }
  .mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
	display: none;
  }
  .mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
  .mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
	overflow: visible;
  }
  .mdl-demo .mdl-layout__tab-bar-container {
	height: 80px;
  }
  .mdl-demo .mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
  }
  .mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
  }
  .mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
  }
  .mdl-demo main > .mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
  }
  .mdl-demo .mdl-card {
	height: auto;
	display: flex;
	flex-direction: column;
  }
  .mdl-demo .mdl-card > * {
	height: auto;
  }
  .mdl-demo .mdl-card .mdl-card__supporting-text {
	margin: 40px;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
  }
  .mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
	margin-top: 0;
	margin-bottom: 20px;
  }
  .mdl-demo .mdl-card__actions {
	margin: 0;
	padding: 4px 40px;
	color: inherit;
  }
  .mdl-demo .mdl-card__actions a {
	color: #00BCD4;
	margin: 0;
  }
  .mdl-demo .mdl-card__actions a:hover,
  .mdl-demo .mdl-card__actions a:active {
	color: inherit;
	background-color: transparent;
  }
  .mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .mdl-demo #add {
	position: absolute;
	right: 40px;
	top: 36px;
	z-index: 999;
  }
  
  .mdl-demo .mdl-layout__content section:not(:last-of-type) {
	position: relative;
	margin-bottom: 48px;
  }
  .mdl-demo section.section--center {
	max-width: 860px;
  }
  .mdl-demo #features section.section--center {
	max-width: 620px;
  }
  .mdl-demo section > header{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .mdl-demo section > .section__play-btn {
	min-height: 200px;
  }
  .mdl-demo section > header > .material-icons {
	font-size: 3rem;
  }
  .mdl-demo section > button {
	position: absolute;
	z-index: 99;
	top: 8px;
	right: 8px;
  }
  .mdl-demo section .section__circle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 0;
	flex-shrink: 1;
  }
  .mdl-demo section .section__text {
	flex-grow: 1;
	flex-shrink: 0;
	padding-top: 8px;
  }
  .mdl-demo section .section__text h5 {
	font-size: inherit;
	margin: 0;
	margin-bottom: 0.5em;
  }
  .mdl-demo section .section__text a {
	text-decoration: none;
  }
  .mdl-demo section .section__circle-container > .section__circle-container__circle {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
  }
  .mdl-demo section.section--footer .section__circle--big {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 8px 32px;
  }
  .mdl-demo .is-small-screen section.section--footer .section__circle--big {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 8px 16px;
  }
  .mdl-demo section.section--footer {
	padding: 64px 0;
	margin: 0 -8px -8px -8px;
  }
  .mdl-demo section.section--center .section__text:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,.13);
  }
  .mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
	margin-bottom: 24px;
  }
  .mdl-demo .mdl-layout__tab-panel:not(#overview) {
	background-color: white;
  }
  .mdl-demo #features section {
	margin-bottom: 72px;
  }
  .mdl-demo #features h4, #features h5 {
	margin-bottom: 16px;
  }
  .mdl-demo .toc {
	border-left: 4px solid #C1EEF4;
	margin: 24px;
	padding: 0;
	padding-left: 8px;
	display: flex;
	flex-direction: column;
  }
  .mdl-demo .toc h4 {
	font-size: 0.9rem;
	margin-top: 0;
  }
  .mdl-demo .toc a {
	color: #4DD0E1;
	text-decoration: none;
	font-size: 16px;
	line-height: 28px;
	display: block;
  }
  .mdl-demo .mdl-menu__container {
	z-index: 99;
  }
  