img {
height: 200px;
}

#intro{
    background-color: lightblue;
}
 .jumbotron {
    height: 670px;
    background: url("../images/backgrounds/workspace.jpeg") no-repeat center;
    background-size: cover;
    justify-content: center;
    margin:0px;
    padding:0px;
    border:0px;
 }


    

body h1 {
    
    font-family: 'Megrim', cursive;
}

nav {
    float: right;
    display: block !important;
}

#container {
    width: 960px;
    
}

#logo {
    margin: 10px auto 0 auto;
    position: relative;
    width: 183px;
}

#profilePic {
 border-bottom-color: lightsteelblue;
}
/* .grid {
    display: grid;
    grid-template-columns: 75px;
    grid-template-rows: 75px;

    color: lightblue;
    padding: 0px;
} */

img {
    max-width: 20px, 20px;
}
 /* .box {
        border-color: lightcoral;
        border-width: 2px;
        width: 33.3333%;
    }  */