body {
	margin: 0px;
	padding: 20px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px 5px;
	z-index: 2;

	background-color: lightblue;
}

.navbar a {
	padding: 5px;
	color: black;
}

.jumbotron {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	width: 100%;
	background: url("../images/backgrounds/workspace.jpeg") no-repeat center;
	background-size: cover;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}

.jumbotron {
	text-align: center;
}

.jumbotron-text h1{
	font-family: 'Megrim', cursive;
	font-weight: 400;
	font-size: 5em;
}

.jumbotron p {
	font-size: 2em;
	color:#343C44;
	text-shadow: #3C4650
}

h2, h3{
	font-family: 'Open Sans', sans-serif;
	align-content: center;
}

nav {
	float: right;
	display: block !important;
}

#logo img{
	margin: 10px auto 0 auto;
	justify-content: center;
	width: 100px;
	height:100px;
}

#profilePic {
	border-bottom-color: lightsteelblue;

}

#about {
	display: inline-block;
	justify-content: center;

	padding:20px 40px 60px;
	border-bottom: 2px;
}

#about p {
	text-align: center;
}

img {
	height: 200px;
}

img {
	max-width: 20px, 20px;
}

/* Skills */
#myskills {
	margin: 10em, 2em;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.skill-item {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 2%;
}

.skill-item li {
	list-style-type: none;
	margin:  7px;
	padding: 5px 10px;
	color: white;
	background: lightblue;
	/* list-style: none;
	cursor: default; */
	font-size: 1.2em;
}

#portfolio {
	margin: 10em, 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.card {
	margin: 1%;
	padding: 1%;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

div.footer {
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
